<% provide(:title, 'About') %>
<h1>About</h1>
<p>This website is a collaboration of the CS4470 project group at Western University.
It is designed as a method of recording and forwarding round attendance for the Schulich 
School of Medicine and Dentistry. It also allows for doctors to see upcoming events, 
such as rounds and grand rounds.</p>
