<h1 class="visible-lg-block" align="left"> New Event </h1>
<h2 class="visible-md-block" align="left"> New Event </h2>
<h3 class="visible-sm-block" align="left"> New Event </h3>
<h4 class="visible-xs-block" align="left"> New Event </h4>

<%= render 'form' %>

<%= link_to 'Back', "/calendar" %>